@import "compass/reset"
@import "compass/css3/transform"
body
	background: black
	& > *
		@include perspective(500px)
		& > .box

	header
		min-height: 100px
		border: 1px solid green
		& > .box
			background: white
			min-height: 100%
			width: 80%
			@include rotateY(30deg)
